* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #fff;
}

/* Header */

#header {
    padding: 40px;
    background-color: #1F2937;
}

.h_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_logo a {
    color: #F9FAF8;
    size: 24px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

#navigation {
    display: flex;
    gap: 20px;
    color: #e5e7eb;
    font-size: 18px;
}

#navigation a {
    color: #e5e7eb;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
}

#navigation a:hover {
    opacity: 1;
}

/* asaid */

.asaid_container {
    display: flex;
    justify-content: space-around;
    
    padding: 40px;
    background-color: #1F2937;
}

.asaid_container h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 20px;
}

.asaid_container p {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 20px;
    opacity: 0.8;
}

.hero-description {
    width: 450px;
    height: 400px;
}


.button {
    padding: 10px 40px;
    background-color: #3882f6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}


/* main */

.card-section h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}



.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 50px;
    margin-bottom: 80px;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 230px;
    height: 230px;
    text-align: center;
}

.rectangle {
    width: 200px;
    height: 200px;
    background-color: #F9FAF8;
    border: solid 3px #3882f6;
    border-radius: 20px;    
}


.quote-section {
    background-color: #e5e7eb;
    padding: 80px 500px;

}

.quote {
    font-size: 36px;
    font-weight:300;
    color: #1f2937;
    padding-bottom: 20px;
}



.author{
    display: block;
    text-align: right;
    font-weight: bold;
    font-size: 18px;
}

.action-container {
    margin: 60px 250px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #3882f6;
    border-radius: 20px;
}

.action-container a {
    border: solid 2px #fff;
}

.call-action {
    line-height: 15px;

}

.call-action h2 {
    color: #F9FAF8;
    font-size: 36px;
    font-weight: 900;
    padding-bottom: 20px;
    padding-top: 20px;
}

.call-action p {
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 20px;
    opacity: 0.8;
}

#footer {
    background-color: #1F2937;
    padding: 40px;
    text-align: center;
    color: #F9FAF8;
}

#footer p {
    font-size: 18px;
    opacity: 0.8;
}

